.details {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 500px;
}

.details-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid var( --grey-color);
    font-size: 16px;
    font-weight: 500;
    font-family: var(--font-family), sans-serif;
}

.details-item__label {
    font-size: 15px;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .details {
        width: 400px;
    }
}

@media (max-width: 600px) {
    .details {
        width: 300px;
    }

    .details-item {
        font-size: 15px;
    }

    .details-item__label {
        font-size: 14px;
    }
}

@media (max-width: 500px) {
    .details {
        width: 250px;
    }

    .details-item {
        font-size: 14px;
    }

    .details-item__label {
        font-size: 13px;
    }
}