.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 190px);
}

.loader__spinner {
    width: 50px;
    height: 50px;
    color: var(--main-color) !important;
}

.loader__error {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 190px);
    font-family: var(--font-family), sans-serif;
    color: var(--grey-dark-color);
    font-weight: 600;
    font-size: 24px;
}

@media (max-width: 600px) {
    .loader__error {
        font-size: 20px;
    }
}