.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--main-color);
}

.header.header--admin {
    height: 100vh;
    width: 70px;
    position: fixed;
}

.header.header--user {
    height: 70px;
    width: 100%;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__content.header__content--admin {
    flex-direction: column;
    height: 100%;
    padding: 20px 0 12px;
}

.header__content.header__content--user {
    flex-direction: row;
    width: 100%;
    padding: 0 12px 0 20px;
}

.header__logo {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    background: var(--white-color) !important;
    cursor: pointer;
}

.header__logo-icon {
    position: relative;
    bottom: 2px !important;
    width: 40px !important;
    height: 40px !important;
    color: var(--main-color);
}

.header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header__nav.header__nav--admin {
    flex-direction: column;
}

.header__nav.header__nav--user {
    flex-direction: row;
}

.header__nav-icon {
    height: 30px !important;
    width: 30px !important;
    color: var(--white-color);
    cursor: pointer;
}

.header__nav-icon--large {
    height: 34px !important;
    width: 34px !important;
}

.header__nav-icon--xlarge {
    height: 37px !important;
    width: 37px !important;
}

.MuiTooltip-tooltip {
    font-family: var(--font-family), sans-serif !important;
    background: var(--grey-color) !important;
    color: var(--white-color) !important;
    font-size: 13px !important;
    font-weight: 600 !important;
    border-radius: 5px !important;
}

@media (max-width: 768px) {
    .header.header--admin {
        width: 60px;
    }

    .header.header--user {
        height: 60px;
    }

    .header__logo {
        height: 40px;
        width: 40px;
    }

    .header__logo-icon,
    .header__nav-icon--users {
        height: 35px !important;
        width: 35px !important;
    }

    .header__nav {
        gap: 15px;
    }

    .header__nav-icon {
        height: 28px !important;
        width: 28px !important;
    }

    .header__nav-icon--cars {
        height: 32px !important;
        width: 32px !important;
    }
}

@media (max-width: 500px) {
    .header.header--admin {
        width: 50px;
    }

    .header.header--user {
        height: 50px;
    }

    .header__logo {
        height: 30px;
        width: 30px;
    }

    .header__logo-icon {
        height: 25px !important;
        width: 25px !important;
    }

    .header__nav {
        gap: 10px;
    }

    .header__nav-icon {
        height: 24px !important;
        width: 24px !important;
    }

    .header__nav-icon--cars {
        height: 28px !important;
        width: 28px !important;
    }

    .header__nav-icon--users {
        height: 31px !important;
        width: 31px !important;
    }
}