.table__paper {
    width: 100%;
    overflow: hidden;
}


.table__label {
    font-family: var(--font-family), sans-serif !important;
    font-weight: 900 !important;
    background: var(--grey-color) !important;
    color: var(--white-color) !important;
    white-space: nowrap;
}

.table__data {
    font-family: var(--font-family), sans-serif !important;
    font-weight: 400 !important;
    white-space: nowrap;
}

.table__pagination * {
    font-family: var(--font-family), sans-serif !important;
    font-weight: 900 !important;
}