.form-controller__error {
    display: flex;
    justify-content: start;
    width: 400px;
    font-family: var(--second-family), sans-serif;
    color: var(--red-color);
    font-weight: 600 !important;
    font-size: 14px;
    padding: 5px 0 0 15px;
}

@media (max-width: 768px) {
    .form-controller__error {
        font-size: 13px;
        width: 350px;
    }
}

@media (max-width: 500px) {
    .form-controller__error {
        width: 300px;
    }
}


@media (max-width: 400px) {
    .form-controller__error {
        font-size: 12px;
        width: 250px;
    }
}