.app-button.MuiButton-root {
    font-family: var(--font-family), sans-serif;
    font-weight: 700;
    width: 135px;
    height: 50px;
    font-size: 14px;
    border-radius: 10px;
    text-transform: uppercase;
    background: var(--main-color);
    color: var(--white-color);
    box-shadow: none;
}

.Mui-disabled {
    color: var(--white-color) !important;
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
}

.MuiTooltip-tooltip {
    font-family: var(--font-family), sans-serif !important;
    background: var(--grey-color) !important;
    color: var(--white-color) !important;
    font-size: 13px !important;
    font-weight: 600 !important;
    border-radius: 5px !important;
    z-index: 100 !important;
}

.app-button.MuiButton-root:hover {
    box-shadow: none;
}

.app-button--size-sm {
    width: 90px !important;
    height: 40px !important;
}

.app-button--size-md {
    width: 200px !important;
    height: 50px !important;
}

.app-button--size-lg {
    width: 250px !important;
    height: 50px !important;
}

.icon-button {
    font-size: 25px !important;
    transition: color 0.2s ease-in-out !important;
    cursor: pointer;
}

.icon-button:hover {
    color: var(--main-color) !important;
}

.car-access-button {
    height: 150px;
    width: 150px;
    background: var(--red-color) !important;
    transition: background 0.2s ease-in-out !important;
}

.car-access-button--open {
    background: var(--main-color) !important;
}

.car-access-button__icon {
    height: 70px !important;
    width: 70px !important
}

.diia-button {
    cursor: pointer;
    display: inline-block;
    transition: transform 0.1s ease;
}

.diia-button:active {
    transform: scale(0.95);
}

.diia-button--disabled {
    cursor: not-allowed;
    opacity: 0.6;
    pointer-events: none;
}

.diia-button__image {
    height: 100px;
    width: 100px;
    object-fit: cover;
    display: block;
}

@media (max-width: 768px) {
    .diia-button__image {
        height: 90px;
        width: 90px;
    }
}

@media (max-width: 600px) {
    .diia-button__image {
        height: 80px;
        width: 80px;
    }
}

@media (max-width: 500px) {
    .diia-button__image {
        height: 70px;
        width: 70px;
    }
}