.app-button.MuiButton-root {
    font-family: var(--font-family), sans-serif;
    font-weight: 700;
    width: 130px;
    height: 50px;
    font-size: 14px;
    border-radius: 7px;
    text-transform: uppercase;
    background: var(--main-color);
    color: var(--white-color);
    box-shadow: none;
}

.app-button.MuiButton-root:hover {
    box-shadow: none;
}

.dialog__app-button {
    width: 90px !important;
    height: 40px !important;
}

.cars__app-button {
    width: 200px !important;
    height: 50px !important;
}