.image-item {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    overflow: hidden;
}

.image-item__loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.image-item__image {
    height: 500px !important;
    width: 500px !important;
    border-radius: 10px;
    object-fit: cover;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
    display: block;
}

.image-item__image--loading {
    opacity: 0;
}

@media (max-width: 768px) {
    .image-item__image {
        height: 400px !important;
        width: 400px !important;
    }
}

@media (max-width: 600px) {
    .image-item__image {
        height: 300px !important;
        width: 300px !important;
    }
}