.car-images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.car-images__container {
    width: 500px;
}

.car-images__wrapper {
    position: relative;
}

.car-images__slider {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 15px;
    scroll-snap-type: x mandatory;
}

.car-images__slider > * {
    width: 500px;
    flex-shrink: 0;
    scroll-snap-align: start;
}

.car-images__overlay {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    pointer-events: none;
}

.car-images__button {
    color: var(--white-color) !important;
    pointer-events: all;
}

.car-images__button:hover {
    background-color: var(--main-color) !important;
}

@media (max-width: 768px) {
    .car-images__container {
        width: 400px;
    }
}

@media (max-width: 600px) {
    .car-images__container {
        width: 300px;
    }
}

@media (max-width: 400px) {
    .car-images__container {
        width: 250px;
    }
}