.layout {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    height: 100%;
    width: 100%;
}

.main__container {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    width: calc(100% - 70px);
}

main {
    flex: 1;
}

.page {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.page.table {
    padding: 30px;
}

.page__title {
    text-align: center;
    font-family: var(--font-family), sans-serif;
    font-weight: 900;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.page__title.form {
    margin-bottom: 15px;
}

.page__header {
    display: flex;
    justify-content: end;
    padding: 0 0 20px 0;
    width: 100%;
}

.page__form {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.page__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

.page__buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-top: 30px;
    gap: 40px;
}

.page__form.edit {
    margin-bottom: 30px;
}

@media (max-width: 992px) {
    .page__header {
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .main__container {
        margin-left: 60px;
        width: calc(100% - 60px);
    }

    .page__title {
        font-size: 20px;
    }
}

@media (max-width: 500px) {
    .main__container {
        margin-left: 50px;
        width: calc(100% - 50px);
    }

    .page__title {
        font-size: 18px;
    }
}

