.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    margin: 40px 30px;
    flex: 1;
}

.page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: calc(100vh - 190px);
    width: 100%;
}

.map-page {
    width: 100%;
    height: 100vh;
}

.page__title {
    text-align: center;
    font-family: var(--font-family), sans-serif;
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 15px;
}

.page__form {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.page__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

.page__buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
}

.page__form.edit {
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    main {
        margin: 30px 20px;
    }

    .page__title {
        font-size: 22px;
    }
}

@media (max-width: 500px) {
    .page__title {
        font-size: 20px;
    }
}