.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    margin: 40px 30px;
    flex: 1;
}

.page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: calc(100vh - 298px);
    width: 100%;
}

.page__map {
    width: 100%;
    height: 100%;
}

.page__title {
    text-align: center;
    font-family: var(--font-family), sans-serif;
    font-weight: 900;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.page__title.form {
    margin-bottom: 15px;
}

.page__header {
    display: flex;
    justify-content: end;
    width: 100%;
    position: absolute;
    padding: 40px 30px 0 0;
    top: 70px;
}

.page__form {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.page__filters {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.page__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

.page__buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-top: 30px;
    gap: 40px;
}

.page__form.edit {
    margin-bottom: 30px;
}

@media (max-width: 992px) {
    .page__header {
        justify-content: center;
        position: relative;
        padding: 0 0 15px 0;
        top: 0;
    }
}

@media (max-width: 768px) {
    main {
        margin: 30px 20px;
    }

    .page {
        min-height: calc(100vh - 275px);
    }

    .page__title {
        font-size: 20px;
    }
}

@media (max-width: 500px) {
    .page {
        min-height: calc(100vh - 362px);
    }

    .page__title {
        font-size: 18px;
    }
}