:root {
    --font-family: "Google Sans", sans-serif;
    --main-color: #4086f4;
    --white-color: #FFFFFF;
    --grey-light-color: #b7b6b6;
    --grey-dark-color: #838181;
    --error-color: #FF4C4C;
}
