:root {
    --font-family: "Google Sans";
    --second-family: "Poppins";
    --main-color: #4086f4;
    --white-color: #FFFFFF;
    --yellow-color: #fbbc05;
    --grey-color: #777676;
    --red-color: #FF4C4C;
}