.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 70px;
    background: var(--main-color);
    position: fixed;
}

.header__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 15px 0 10px;
}

.header__logo {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    background: var(--white-color) !important;
    cursor: pointer;
}

.header__logo-icon {
    position: relative;
    bottom: 2px !important;
    font-size: 40px !important;
    color: var(--main-color);
}

.header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.header__nav-icon {
    font-size: 30px !important;
    color: var(--white-color);
    cursor: pointer;
}

.header__nav-icon--cars {
    font-size: 34px !important;
}

.header__nav-icon--users {
    font-size: 37px !important;
}

.MuiTooltip-tooltip {
    font-family: var(--font-family), sans-serif !important;
    background: var(--grey-color) !important;
    color: var(--white-color) !important;
    font-size: 13px !important;
    font-weight: 600 !important;
    border-radius: 5px !important;
}

@media (max-width: 768px) {
    .header {
        width: 60px;
    }

    .header__logo {
        height: 40px;
        width: 40px;
    }

    .header__logo-icon {
        bottom: 2px !important;
        font-size: 35px !important;
    }

    .header__nav {
        gap: 15px;
    }

    .header__nav-icon {
        font-size: 28px !important;
    }

    .header__nav-icon--cars {
        font-size: 32px !important;
    }

    .header__nav-icon--users {
        font-size: 35px !important;
    }
}

@media (max-width: 500px) {
    .header {
        width: 50px;
    }

    .header__logo {
        height: 30px;
        width: 30px;
        border-radius: 7px;
    }

    .header__logo-icon {
        bottom: 1px !important;
        font-size: 25px !important;
    }

    .header__nav {
        gap: 10px;
    }

    .header__nav-icon {
        font-size: 24px !important;
    }

    .header__nav-icon--cars {
        font-size: 28px !important;
    }

    .header__nav-icon--users {
        font-size: 31px !important;
    }
}