.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 70px;
    background: var(--main-color);
    width: 100%;
}

.header__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 30px;
}

.header__logo {
    font-family: var(--font-family), sans-serif;
    color: var(--white-color);
    font-weight: 400;
    font-size: 32px;
    cursor: pointer;
}

.header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.header__nav-icon {
    font-size: 30px !important;
    color: var(--white-color);
    cursor: pointer;
}

.header__nav-icon--cars {
    font-size: 34px !important;
}

.header__nav-icon--users {
    font-size: 37px !important;
}

.header__nav-icon--light {
    color: var(--yellow-color);
}

@media (max-width: 768px) {
    .header__content {
        padding: 0 20px;
    }

    .header__logo {
        font-size: 26px;
    }

    .header__nav {
        gap: 15px;
    }

    .header__nav-icon {
        font-size: 24px !important;
    }

    .header__nav-icon--cars {
        font-size: 28px !important;
    }

    .header__nav-icon--users {
        font-size: 31px !important;
    }
}