.car-actions {
    display: flex;
    gap: 10px;
}

.car-actions--icon {
    font-size: 25px !important;
    transition: color 0.2s ease-in-out !important;
    cursor: pointer;
}

.car-actions--icon:hover {
    color: var(--main-color) !important;
}