.map  {
    width: 100%;
    height: 100%;
}

.map.page {
    border-radius: 10px;
}

.map-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.map-controls {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 15px;
    bottom: 20px;
    z-index: 10;
    gap: 10px;
}

.map-card {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
    height: 170px;
    width: 250px;
    padding: 10px;
    border-radius: 10px !important;
}

.map-card__icon {
    display: flex;
    justify-content: end;
    align-items: start;
}

.map-card__icon--close {
    font-size: 25px !important;
    transition: color 0.2s ease-in-out !important;
    cursor: pointer;
}

.map-card__icon--close:hover {
    color: var(--main-color) !important;
}

.map-card__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 10px;
}

.map-card__text {
    font-family: var(--font-family), sans-serif;
    font-weight: 600;
    font-size: 14px;
    padding: 0 0 5px 8px;
}

.map-card__text.bold {
    font-size: 16px;
    font-weight: 900;
}

.map-card__text--status {
    font-weight: 600;
}

.status--available {
    color: var(--main-color);
}

.status--rented {
    color: var(--red-color);
}

.status--unavailable {
    color: var(--grey-color);
}

.map-stepper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    background: var(--main-color);
    color: var(--white-color);
    border-radius: 0 10px 0 10px;
    width: 155px;
    top: 0;
    right: 0;
    z-index: 10;
}

.map__icon {
    background: var(--main-color) !important;
    color: var(--white-color) !important;
}

.map-stepper__counter{
    font-family: var(--font-family), sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.map-filters {
    position: absolute;
    z-index: 10;
}

.map-filters__button {
    background: var(--main-color) !important;
    border-radius: 10px 0 10px 0;
}

.map-filters__menu * {
    border-radius: 10px !important;
}

.map-filters__menu-item,
.map-filters__label {
    font-family: var(--font-family), sans-serif !important;
    font-weight: 600 !important;
    font-size: 16px !important;
}

.map-filters__checkbox {
    color: var(--main-color) !important;
}

.map-filters__menu-item--reset {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

@media (max-width: 768px) {
    .map-filters__menu-item,
    .map-filters__label {
        font-size: 14px !important;
    }
}