.map  {
    width: 100%;
    height: 100%;
}

.map.page {
    border-radius: 10px;
}

.map-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.map-controls {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 20px;
    bottom: 34px;
    z-index: 10;
    gap: 10px;
}

.map-controls__icon {
    background: var(--main-color) !important;
    color: var(--white-color) !important;
}