.map  {
    width: 100%;
    height: 100%;
}

.map-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.map-controls {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 15px;
    bottom: 20px;
    z-index: 10;
    gap: 10px;
}

.map-stepper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    background: var(--main-color);
    color: var(--white-color);
    border-radius: 20px;
    width: 155px;
    top: 15px;
    right: 15px;
    z-index: 10;
}

.map__icon {
    background: var(--main-color) !important;
    color: var(--white-color) !important;
}

.map-stepper__counter{
    font-family: var(--font-family), sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.map-filters {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 10;
}

.map-filters__button {
    background: var(--main-color) !important;
    border-radius: 50%;
}

.map-filters__menu * {
    border-radius: 10px !important;
}

.map-filters__menu-item,
.map-filters__label {
    font-family: var(--font-family), sans-serif !important;
    font-weight: 600 !important;
    font-size: 16px !important;
}

.map-filters__checkbox {
    color: var(--main-color) !important;
}

.map-filters__menu-item--reset {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

@media (max-width: 768px) {
    .map-filters__menu-item,
    .map-filters__label {
        font-size: 14px !important;
    }
}