.dialog .MuiPaper-root {
    border-radius: 10px !important;
    min-width: 250px;
    max-width: 800px;
}

.dialog__title {
    font-family: var(--font-family), sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.dialog__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 15px 17px 15px 25px;
    background: inherit;
    position: sticky;
    top: 0;
    z-index: 10;
}

.dialog__content {
    text-align: center;
    padding: 25px 25px 0;
}

.dialog__images--container {
    padding: 0 25px 25px;
}

.dialog__images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.dialog__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 25px 25px;
    gap: 25px;
}

.dialog__message {
    font-family: var(--font-family), sans-serif;
    font-weight: 600;
    font-size: 18px;
    white-space: pre-line
}

.dialog__button {
    display: flex;
    justify-content: center;
    padding: 25px;
    gap: 20px;
}

.dialog__buttons {
    display: flex;
    justify-content: center;
}

.dialog__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.dialog__button.map-dialog__button {
    padding: 20px;
}

.dialog__icon--container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog__icon {
    height: 25px !important;
    width: 25px !important;
    transition: color 0.2s ease-in-out !important;
    cursor: pointer;
}

.dialog__icon:hover {
    color: var(--main-color) !important;
}

.dialog__map {
    position: relative;
    width: 600px;
    height: 600px;
}

@media (max-width: 768px) {
    .dialog__header {
        padding: 15px 12px 15px 20px;
    }

    .dialog__title {
        font-size: 16px;
    }

    .dialog__details {
        padding: 0 20px 25px;
    }

    .dialog__content {
        padding: 20px 20px 0;
    }

    .dialog__button {
        padding: 20px;
    }

    .dialog__images--container{
        padding: 0 20px 20px;
    }

    .dialog__images {
        height: auto;
        width: 100%;
        gap: 15px;
    }

    .dialog__map {
        width: 500px;
        height: 500px;
    }
}

@media (max-width: 600px) {
    .dialog__title,
    .dialog__message,
    .dialog__images {
        height: auto;
        width: 100%;
    }

    .dialog__map {
        width: 350px;
        height: 400px;
    }
}

@media (max-width: 400px) {
    .dialog__map {
        width: 300px;
        height: 400px;
    }
}