.form {
    display: flex;
    flex-direction: column;
}

.form__label {
    font-family: var(--font-family), sans-serif;
    font-weight: 900;
    font-size: 16px;
    margin: 15px 0 5px 14px;
}

.form__field {
    width: 400px;
}

.form__field .MuiOutlinedInput-root {
    font-family: var(--font-family), sans-serif;
    font-weight: 600;
    font-size: 16px;
    height: 50px;
}

.form__field .MuiOutlinedInput-notchedOutline {
    border: 2px solid var(--grey-color) !important;
    border-radius: 7px;
}

.form__field .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: var(--main-color) !important;
}

.form__field .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: var(--main-color) !important;
}

.form__field .MuiIconButton-root,
.form__field .MuiInputAdornment-root {
    margin: 0;
}

.form__field .MuiSelect-select {
    height: 50px;
    display: flex;
    align-items: center;
    font-family: var(--font-family), sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.form__select {
    border-radius: 10px !important;
    padding: 0;
    background: var(--white-color);
}

.form__menu {
    font-family: var(--font-family), sans-serif !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    padding: 12px 20px !important;
}

.form__menu:hover {
    background-color: var(--main-color) !important;
    color: var(--white-color) !important;
}

.form-field .Mui-selected {
    background-color: var(--main-color) !important;
    color: var(--white-color) !important;
}

.MuiList-root {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    outline: none !important;
}

.form__upload {
    width: 400px;
    height: 52px;
    font-family: var(--font-family), sans-serif !important;
    border: 2px solid var(--grey-color) !important;
    color: inherit !important;
    font-weight: 600 !important;
    font-size: 14px !important;
}

.form__upload:hover {
    border-color: var(--main-color) !important;
    background-color: transparent;
}

.form__gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
    max-width: 400px;
    margin: 15px 0;
}

.form__grid {
    width: 198px;
    flex-shrink: 0;
}

.form__card {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px !important;
    border: 2px solid var(--grey-color) !important;
}

.form__image {
    object-fit: cover;
    height: 150px;
    width: 100%;
}

.form__actions {
    display: flex;
    justify-content: space-between !important;
    background-color: inherit;
    padding: 2px !important;
}

.form__icon {
    font-size: 20px !important;
    transition: color 0.2s ease-in-out !important;
}

.form__actions button:hover .form__icon {
    color: var(--main-color) !important;
}

.form__badge {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--main-color);
    color: var(--white-color);
    font-size: 14px;
    font-weight: 600;
    padding: 2px 8px;
    border-radius: 0 0 5px 0;
    pointer-events: none;
    z-index: 2;
}

@media (max-width: 768px) {
    .form__label,
    .form__field .MuiOutlinedInput-root,
    .form__field .MuiSelect-select,
    .form__menu {
        font-size: 14px !important;
    }

    .form__upload {
        font-size: 13px !important;
    }

    .form__field,
    .form__upload {
        width: 350px;
    }

    .form__gallery {
        max-width: 350px;
    }

    .form__grid {
        width: 173px;
    }
}

@media (max-width: 390px) {
    .form__field,
    .form__upload {
        width: 300px;
    }

    .form__gallery {
        max-width: 300px;
        gap: 10px;
    }

    .form__grid {
        width: 300px;
    }
}